.progressContainer{
   
}
.goalContainer{
   padding:10px;
   background-color: white;;
 }
.arrowRow{
   display:flex;
   justify-content: space-between;
}
.fig{
   line-height: 20px;
   padding-bottom: 5px;
}
.h1{
   line-height: 20px;
   padding-bottom: 5px;
}