.progressContainer{
   
}
.goalContainer{
   padding:10px;
   background-color: white;;
 }
.arrowRow{
   display:flex;
   justify-content: space-between;
}
.fig{
   line-height: 20px;
   padding-bottom: 5px;
}
.h2{
   line-height: 20px;
   padding-bottom: 5px;
}

.badgeArea{
   padding: 12px;
   border-top:2px solid gray;
   border-bottom: 2px solid gray;
   cursor:pointer;
}