.navbar {
    background-color:rgb(236, 119, 23);
   
    
  }
  h1{
    color: black;
    padding:0px;
  }
.navlist {
  display: flex;
  list-style-type: none;
  
}
.navItem{
    padding:10px;
    list-style-type: none;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}

#title{
  color:aliceblue;
  margin-left: 10px;
}