.loginForm {
  text-align: left;
}
.container {
  text-align: center;
}
.loginContainer {
  margin: 0% 20%;
  border: 2px solid black;
  padding: 20px;
  border-radius: 25px;
}
body {
  font-family: 'Poppins', sans-serif !important;
  background-color: aqua !important;
}
.badge{
  margin:5px 3px;
}
.goals{
  margin:10px;
}